.card {
  width: 362px;
  height: 100px;
  background-color: #303030;
  cursor: pointer;
  margin-top: 20px;
  .container {
    display: flex;
    align-items: center;
    .child{
      font-family: sans-serif;
      font-size: 20px;
      margin-left: 20px;
    }
  }
}