.myInput {
  padding: 10px;
  border-radius: 20px;
  width: 455px;
  margin-top: 10px;
  outline: none;
}

.myInput::placeholder {
  text-align: center;
  font-size: 14px;
  color: rgb(0, 109, 35);
  font-family: serif;
}

.myInput:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}